body{
    background-color:rgb(0, 140, 255);
    display: flex;
    width: 600px;
    height: 500;
    justify-content: right;
    align-items: center;
    position: relative;
    top: 150px;
    right: -350px;
}
.form
{
    display: flex;
    width: 300px;
    height: 350px;
    background-color: white;
    font-weight: bold;
    border-radius: 6px;
    margin: 2px 2px 2px 2px;
    position: relative;
    top: -20px;
}


.demo h2{
    justify-content: center;
    font-size: 30px;
    display: flex;
    font-family:sans-serif;
    position: relative;
    top: 15px;

}
.demo input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50px;
    top: 20px;
    margin: -8px;
    padding: 3px 3px 3px 3px;
    border: none;
    border-style: none;
    line-height: 25px;
}
.user input
{
    position: relative;
    top: 35px;
    right: -20px;
    left: 30px;
    outline: none;
}
.pass input{
    position: relative;
    top: 0px;
    left: 30px ;
    outline: none;
}
.form a{
    justify-content: center;
    position: relative;
    top: 220px;
    right: 273px;
    text-decoration: none;
    }
    .log button{
        border-radius: 10px;
        display: flex;
        width: 220px;
        position: relative;
        top: 270px;
        right: 375px;
        outline: none;
        justify-content: center;
        border-style: none;
        color: white;
        background-color: rgb(0, 140, 255);
        height: 25px;
        align-items: center;
        align-content: center;
    }
    .log h2{
        color: gray;
        font-size: 15px;
        position: relative;
        top: 270px;
        right: 350px;
        bottom: -3px;
    }
    .sig a{
        font-size: 15px;
        color: rgb(0, 153, 255);
        font-weight: bold;
        position: relative;
        top: 239px;
        right: 250px;
        justify-content: center;
        align-items: center;
        
    }
    .space
    {
        font-size: 40px;
        font-weight: bolder;
        color: white;
        position: relative;
        top: 25px;
        right: 850px;
        line-break: normal;
        
    }
    .line
    {
        border-left: 10px solid white;
        height: 220px;
        position: relative;
        top: 72px;
        right: 1000px;
        border-radius: 7px;
        width: 15px;

    }
    